networkx
numba
numpy
plotly
python-dateutil
quantum-blackbird
requests
scipy==1.13.1
sympy
tensorflow
tensorboard
thewalrus
toml
typing-extensions
urllib3
quantum-xir
xanadu-cloud-client
matplotlib
nbconvert
strawberryfields
qutip
ipython